@charset "ISO-8859-1";
.classset1 span  {
  font-weight: bold !important; 
  font-size: 12px !important;
  white-space: nowrap !important; 
    width:50px !important ; 
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
}

.classset1 span:hover {
    overflow: visible !important;
    z-index: 9999 !important;
}
.verLine{
    margin:5px;
    border-right:1px solid #ccc;
}

hr{
    margin:5px 0px !important;
}
.Tablet_content {
    float: left!important;
    width: 50% !important;
}
.Tablet_content span {
    padding: 5px !important;
    margin-bottom: 5px !important;
}

.textWrap{
    white-space: nowrap; 
    width: 250px !important; 
    overflow: hidden;
    text-overflow: ellipsis; 
   }

.md-chips .md-chip{
    padding:8px 6px !important;
    border-radius:5px;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    height:auto !important;

}
.carousel .item{
    height: auto; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

md-chips .md-chip {
    background: #f1f1f1;
    color: rgb(66,66,66);
    width: 100% !important;
    box-sizing: border-box !important;
}
 .a > .img {
    color: #337ab7;
 }

.change-green{
        color:green;
    }
.change-red{
        color:red;
    }

.firstnames{width: 100%; word-wrap: break-word;}
.firstnames12{width: 25%; word-wrap: break-word;}
.lastnames1{width: 25%; word-wrap: break-word;}
.lastnames2{width: 25%; word-wrap: break-word;}
.lastnames3{width: 25%; word-wrap: break-word;}
.lastnames4{width: 25%; word-wrap: break-word;}
.lastnames5{width: 25%; word-wrap: break-word;}

 .divtable .tr {
  overflow: hidden;
  clear: both;
  line-height: 20px;
  
}

.divtable .oddEven:nth-child(odd) {
    background-color: #f1f1f1 !important;
}
.divtable .oddEven:nth-child(even) {
    background-color: transparent !important;
}

.divtable .tr:hover{
    background-color: #DEEBF6;
}

.divtable .th,
.divtable .td {
  padding: 5px 10px;
  float: left;
}

.divtable .th { font-weight: bold; }

.firstname { width: 40%; }

.lastname { width: 30%; }

.username { width: 30%; }


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 0px !important; 
     height: 0px !important; 
     margin-top: -10px !important; 
     font-size: 20px !important; 
}


.carousel-control.right { background-image: none !important; right:14px !important ;top:0px; }

.carousel-control.left { background-image: none !important; left:0px !important ;top:0px; }




 @media (max-width: 767px) {
.Sample1 {
    position: relative !important;
    z-index: 999 !important;
}
.Sample2 {
    position: relative !important;
    z-index: 999 !important;
}
.accordion-xs .headings { display: none; }

.accordion-xs .tr { border-bottom-color: #fff; border-bottom:1px solid #ccc }

.accordion-xs .th,
 .accordion-xs .td {
  float: none;
  width: auto;
  padding: 0;
}

.accordion-xs .accordion-xs-toggle {
  color: #555;
  padding: 10px;
  cursor: pointer;
}

.accordion-xs .accordion-xs-toggle:hover { background-color: #f1f1f1; }

.accordion-xs .accordion-xs-toggle:after {
  content: '\2b';
  float: right;
}

.accordion-xs .accordion-xs-toggle.collapsed:after { content: '\2212'; float: left;}
     
.accordion-xs-collapse .inner { padding: 10px; }

.accordion-xs-collapse .td:before { font-weight: bold; }

.glyphicon{
    /*color:#000000;*/
}

.accordion-xs .accordion-xs-toggle:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-right: 10px;
  background-color: #3acce1;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
}
.lastnames1{ float:left !important; /*width:50% !important;*/ margin-bottom: 5px !important;}
.lastnames2{ float:left !important; width:50% !important; margin-bottom: 5px !important;}
.lastnames3{ float:left !important; width:50% !important; margin-bottom: 5px !important;} 
.lastnames4{ float:left !important; width:50% !important; margin-bottom: 5px !important;}
.lastnames5{ float:left !important; width:100% !important; margin-bottom: 5px !important;}
.IconSet {
    font-size: 18px !important;
    
}

.classset1{
    width:50% !important;
}
.classset2{
    width:50% !important;
}
.classset3{
    width:50% !important;
}
.Sample1 {
    float: left !important;
    width: 50% !important;
    background-color: #f1f1f1 !important;          
}
.Sample2 {
    float: left !important;
    width: 50% !important; 
    background-color: #f1f1f1 !important;  
    padding: 10px !important;        
}


/*this is used for text wrap in mobile view */
.textWrap{
    white-space: nowrap; 
    width:   250px !important; 
    overflow: hidden;
    text-overflow: ellipsis; 
   }
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.md-chips .md-chip{
    padding:8px 6px !important;
    border-radius:5px;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    height:auto !important;
    
}

#myCarousel { display: block !important; width: 100% !important; background-color: transparent !important;}

}

@media only screen and (max-width: 500px)  {

}

.carousel-control.left { background-image: none !important; left:-8px ;top:0px; }

.carousel-control.right { background-image: none !important; right:0px ;top:0px; }

/*new*/
@media (min-width: 992px){
.col-md-3 {
    width: 33.3%;
}
}
md-card md-card-content {
    display: block;
    padding: 6px;
}

.carousel-heading {
  font-weight: bold; 
  font-size: 12px;
  white-space: nowrap; 
    width:250px !important; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.carousel-heading:hover {
    overflow: visible !important;
    z-index: 9999 !important;
}

/*new*/

